<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
  failOnWarning="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
>
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>

    <!-- Where .devtools/start serves. CI and DDEV export their own value,
         which wins: PHPUnit does not overwrite an existing variable. -->
    <env name="DTT_BASE_URL" value="http://127.0.0.1:8888"/>

    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>

  <testsuites>
    <testsuite name="existing-site">
      <directory>./web/modules/custom/druxt_umami/tests/src/ExistingSite</directory>
    </testsuite>
  </testsuites>
</phpunit>
